@import '../../sass/mixins';
.login {
  height: calc(100vh - 80px);
  padding-top: 0;
  .login_content {
    background-color: var(--color-black);
    box-shadow: 0 1px 7px 3px var(--color-golden);
    width: 50%;
    margin: auto;
    border-radius: 0 0 10px 10px;
    padding: 60px 0 40px;
    transition: .9s;
    position: relative;
    top: -100%;
    opacity: 0;
    &.show {
      opacity: 1;
      top: 0;
    }
    @include media(sm) {
      width: 80%;
    }
    h1 {
      color: var(--color-golden);
      font-size: 55px;
      font-weight: 800;
      margin-bottom: 50px;
    }
    form {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
      input {
        width: 100%;
        padding: 15px 30px;
        background: none;
        outline: none;
        border: 1px solid rgb(220 202 135 / 25%);
        margin-right: 15px;
        flex: 1;
        caret-color: var(--color-golden);
        color: var(--color-golden);
        transition: var(--main-transition);
        &:focus {
          box-shadow: 1px 0 7px 0 var(--color-golden);
        }
      }
      button {
        width: fit-content;
        margin: auto;
      }
    }
  }
}