.findus {
  .findus_text {
    h2 {
      color: var(--color-golden);
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
      }
    h3 {
      color: var(--color-golden);
      margin-bottom: 20px;
    }
  }
  .findus_image {
    img {
      width: 350px;
      height: auto;
    }
  }
}