@import '../../sass/mixins';
.landing {
  background-color: var(--color-black);
  .landing_content  {
    width: 70%;
    @include media('md') {
      text-align: center;
      flex-direction: column;
    }
    @include media('sm') {
      width: 100%;
    }
    .landing_content_info {
      width: 40%;
      @include media('md') {
        width: 100%;
        margin-bottom: 30px;
      }
      h1 {
        color: var(--color-golden);
        font-size: 55px;
        font-weight: 800;
        @include media('md') {
          margin-bottom: 20px;
        }
      }
    }
    .landing_content_img {
      width: 60%;
      @include media('md') {
        width: 100%;
      }
      img {
        width: 400px;
        height: auto;
      }
    }
  }
}